<div class="hero-unit">
	<h1>Welcome to my Project Headquarters!</h1>
	<p>
		You've found the homepage for my super snazzy Ruby Project using
		<%= link_to "One Month Rails", "http://onemonthrails.com"%>
	</p>
	<p>
		<%= link_to "Don't Press Button", dontpush_path, class: "btn btn-primary btn-large"%>
	</p>
</div>