<h1>Welcome to my Project Homepage!</h1>
<p>
	You've found the homepage for my super cool Ruby Project.
	<%= link_to "One Month Rails", "http://onemonthrails.com"%>
</p>
<p>
	<%= link_to "Sign up now!", "#"%>
</p>
